WeatherBot-V2.json
{
  "name": "WeatherBot Automation (Public Template)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const weatherData = $input.first().json;\nconst hours = weatherData.forecast.forecastday[0].hour;\n\nconst schoolRainyHours = [];\nconst rainyHoursPast6 = [];\nconst totalRainyHours = [];\n\nhours.forEach(hour => {\n  const hourTime = new Date(hour.time);\n  const hourOfDay = hourTime.getHours();\n  const rainChance = hour.chance_of_rain;\n\n  if (hourOfDay >= 8 && hourOfDay <= 17) {\n    if (rainChance >= 60) {\n      schoolRainyHours.push({\n        time: hourTime.toLocaleTimeString('en-US', { \n        hour: 'numeric', \n        hour12: true,\n        minute: undefined\n      }),\n        hour: hourOfDay,\n        rainPercent: rainChance\n      });\n      totalRainyHours.push({\n        time: hourTime.toLocaleTimeString('en-US', { \n        hour: 'numeric', \n        hour12: true,\n        minute: undefined\n      }),\n        hour: hourOfDay,\n        rainPercent: rainChance\n      });\n    }\n  } \n\n  else if (hourOfDay >= 18 && hourOfDay <= 23) {\n    if (rainChance >= 60) {\n      totalRainyHours.push({\n        time: hourTime.toLocaleTimeString('en-US', { \n        hour: 'numeric', \n        hour12: true,\n        minute: undefined\n      }),\n        hour: hourOfDay,\n        rainPercent: rainChance\n      });\n      rainyHoursPast6.push({\n        time: hourTime.toLocaleTimeString('en-US', { \n        hour: 'numeric', \n        hour12: true,\n        minute: undefined\n      }),\n        hour: hourOfDay,\n        rainPercent: rainChance\n      });\n    }\n  }\n});\n\n\nreturn [{\n  json: {\n    hasRain: totalRainyHours.length > 0,\n    schoolRainyHours: schoolRainyHours,\n    rainyHoursPast6: rainyHoursPast6,\n    totalRainyHours: totalRainyHours,\n    rainDuringClass: schoolRainyHours.length > 0,\n    rainAfterClass: rainyHoursPast6.length > 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        224
      ],
      "id": "05d45ce4-0cb1-4cd2-ad53-ebb0e7a177ea",
      "name": "rainData"
    },
    {
      "parameters": {
        "jsCode": "const users = [\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_1\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\"\n  },\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_2\",\n    \"first_name\": \"Jane\",\n    \"last_name\": \"Smith\"\n  }\n  ];\n\nconst rainData = $input.first().json;\n\nreturn users.map(user => ({\n  json: {\n    chatId: user.id,\n    firstName: user.first_name,\n    ...rainData\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        320
      ],
      "id": "7c25941d-fc6a-4461-a91f-10f7c004d6cf",
      "name": "UserData"
    },
    {
      "parameters": {
        "jsCode": "const users = [\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_1\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\"\n  },\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_2\",\n    \"first_name\": \"Jane\",\n    \"last_name\": \"Smith\"\n  }\n  ];\n\nconst data = $input.first().json;\n\nreturn users.map(user => ({\n  json: {\n    chatId: user.id,\n    firstName: user.first_name,\n    ...data,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        864
      ],
      "id": "b0ec8427-e851-41be-8639-f7777d804a1f",
      "name": "UserData1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e43cad02-6c79-43b2-8c1a-1b9c57f5bff3",
              "leftValue": "={{ $json.rainDuringClass }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        224
      ],
      "id": "2a3aae64-7a5d-4e06-9b01-9f91de295aee",
      "name": "rainDuringClass"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "PLACEHOLDER_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Weatherbot Prediction Log + Accuracy Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PLACEHOLDER_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1694389142,
          "mode": "list",
          "cachedResultName": "RawData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PLACEHOLDER_SPREADSHEET_ID/edit#gid=1694389142"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toLocaleDateString('en-US', { timeZone: 'America/New_York' }) }}",
            "Location": "PLACEHOLDER_LOCATION",
            "Predicted Rain During Day": "={{ $json.hasRain ? 'Yes' : 'No' }}",
            "Predicted 8am": "={{ $json.totalRainyHours.some(hour => hour.hour === 8) ? 'Yes' : 'No' }}",
            "Predicted 9am": "={{ $json.totalRainyHours.some(hour => hour.hour === 9) ? 'Yes' : 'No' }}",
            "Predicted 10am": "={{ $json.totalRainyHours.some(hour => hour.hour === 10) ? 'Yes' : 'No' }}",
            "Predicted 11am": "={{ $json.totalRainyHours.some(hour => hour.hour === 11) ? 'Yes' : 'No' }}",
            "Predicted 12pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 12) ? 'Yes' : 'No' }}",
            "Predicted 1pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 13) ? 'Yes' : 'No' }}",
            "Predicted 2pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 14) ? 'Yes' : 'No' }}",
            "Predicted 3pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 15) ? 'Yes' : 'No' }}",
            "Predicted 4pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 16) ? 'Yes' : 'No' }}",
            "Predicted 5pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 17) ? 'Yes' : 'No' }}",
            "Predicted 6pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 18) ? 'Yes' : 'No' }}",
            "Actual 2pm": "=",
            "Actual 1pm": "=",
            " ✅/ ❌": "=",
            "Predicted 7pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 19) ? 'Yes' : 'No' }}",
            "Predicted 8pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 20) ? 'Yes' : 'No' }}",
            "Predicted 9pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 21) ? 'Yes' : 'No' }}",
            "Predicted 10pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 22) ? 'Yes' : 'No' }}",
            "Predicted 11pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 23) ? 'Yes' : 'No' }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted Rain During Day",
              "displayName": "Predicted Rain During Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Rain During Day",
              "displayName": "Actual Rain During Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 8am",
              "displayName": "Predicted 8am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 8am",
              "displayName": "Actual 8am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 9am",
              "displayName": "Predicted 9am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 9am",
              "displayName": "Actual 9am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 10am",
              "displayName": "Predicted 10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 10am",
              "displayName": "Actual 10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 11am",
              "displayName": "Predicted 11am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 11am",
              "displayName": "Actual 11am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 12pm",
              "displayName": "Predicted 12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 12pm",
              "displayName": "Actual 12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 1pm",
              "displayName": "Predicted 1pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 1pm",
              "displayName": "Actual 1pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 2pm",
              "displayName": "Predicted 2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 2pm",
              "displayName": "Actual 2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 3pm",
              "displayName": "Predicted 3pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 3pm",
              "displayName": "Actual 3pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 4pm",
              "displayName": "Predicted 4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 4pm",
              "displayName": "Actual 4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 5pm",
              "displayName": "Predicted 5pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Actual 5pm",
              "displayName": "Actual 5pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 6pm",
              "displayName": "Predicted 6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 6pm",
              "displayName": "Actual 6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 7pm",
              "displayName": "Predicted 7pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 7pm",
              "displayName": "Actual 7pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 8pm",
              "displayName": "Predicted 8pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 8pm",
              "displayName": "Actual 8pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 9pm",
              "displayName": "Predicted 9pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 9pm",
              "displayName": "Actual 9pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 10pm",
              "displayName": "Predicted 10pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 10pm",
              "displayName": "Actual 10pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Predicted 11pm",
              "displayName": "Predicted 11pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 11pm",
              "displayName": "Actual 11pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        112
      ],
      "id": "ce720535-24c9-4853-afe1-8ce42576943b",
      "name": "Predicted: 8am-5pm",
      "credentials": {
        "googleApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "PLACEHOLDER_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Weatherbot Prediction Log + Accuracy Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PLACEHOLDER_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1694389142,
          "mode": "list",
          "cachedResultName": "RawData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PLACEHOLDER_SPREADSHEET_ID/edit#gid=1694389142"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Predicted 6pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 18) ? 'Yes' : 'No' }}",
            "Actual 2pm": "=",
            "Actual 1pm": "=",
            "Predicted 7pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 19) ? 'Yes' : 'No' }}",
            "Predicted 8pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 20) ? 'Yes' : 'No' }}",
            "Predicted 9pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 21) ? 'Yes' : 'No' }}",
            "Predicted 10pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 22) ? 'Yes' : 'No' }}",
            "Predicted 11pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 23) ? 'Yes' : 'No' }}",
            "row_number": 0,
            "Date": "={{ new Date().toLocaleDateString('en-US', { timeZone: 'America/New_York' }) }}",
            "Predicted Rain During Day": "={{ $json.hasRain ? 'Yes' : \"No\" }}",
            "Predicted 5pm": "={{ $json.totalRainyHours.some(hour => hour.hour === 17) ? 'Yes' : 'No' }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted Rain During Day",
              "displayName": "Predicted Rain During Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Actual Rain During Day",
              "displayName": "Actual Rain During Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 8am",
              "displayName": "Predicted 8am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 8am",
              "displayName": "Actual 8am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 9am",
              "displayName": "Predicted 9am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 9am",
              "displayName": "Actual 9am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 10am",
              "displayName": "Predicted 10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 10am",
              "displayName": "Actual 10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 11am",
              "displayName": "Predicted 11am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 11am",
              "displayName": "Actual 11am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 12pm",
              "displayName": "Predicted 12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 12pm",
              "displayName": "Actual 12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 1pm",
              "displayName": "Predicted 1pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 1pm",
              "displayName": "Actual 1pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 2pm",
              "displayName": "Predicted 2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 2pm",
              "displayName": "Actual 2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 3pm",
              "displayName": "Predicted 3pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 3pm",
              "displayName": "Actual 3pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 4pm",
              "displayName": "Predicted 4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 4pm",
              "displayName": "Actual 4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 5pm",
              "displayName": "Predicted 5pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Actual 5pm",
              "displayName": "Actual 5pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 6pm",
              "displayName": "Predicted 6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual 6pm",
              "displayName": "Actual 6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 7pm",
              "displayName": "Predicted 7pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 7pm",
              "displayName": "Actual 7pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 8pm",
              "displayName": "Predicted 8pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 8pm",
              "displayName": "Actual 8pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 9pm",
              "displayName": "Predicted 9pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 9pm",
              "displayName": "Actual 9pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 10pm",
              "displayName": "Predicted 10pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 10pm",
              "displayName": "Actual 10pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Predicted 11pm",
              "displayName": "Predicted 11pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 11pm",
              "displayName": "Actual 11pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        672
      ],
      "id": "a4261b8d-e26f-4182-b158-a244c6684b67",
      "name": "Predicted: 6pm-11pm",
      "credentials": {
        "googleApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69861d44-94d8-4507-a335-d3b427f57d63",
              "leftValue": "={{ !!$json.hasRain }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        64
      ],
      "id": "a948bc69-d8a6-4c44-add1-b022d3e1545a",
      "name": "hasRain"
    },
    {
      "parameters": {
        "jsCode": "const users = [\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_1\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\"\n  },\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_2\",\n    \"first_name\": \"Jane\",\n    \"last_name\": \"Smith\"\n  }\n  ];\n\n\nreturn users.map(user => ({\n  json: {\n    chatId: user.id,\n    firstName: user.first_name,\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        560
      ],
      "id": "fd722475-2f7b-470b-ae51-62b24eab9eaf",
      "name": "UserData2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "PLACEHOLDER_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Weatherbot Prediction Log + Accuracy Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PLACEHOLDER_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1694389142,
          "mode": "list",
          "cachedResultName": "RawData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PLACEHOLDER_SPREADSHEET_ID/edit#gid=1694389142"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date(Date.now() - 86400000).toLocaleDateString('en-US', { timeZone: 'America/New_York' }) }}",
            "Actual Rain During Day": "={{ $json.rainedYesterday ? 'Yes' : 'No'}}",
            "Actual 8am": "={{ $json.actualHoursRained.some(hour => hour.time === 8) ? 'Yes' : 'No' }}",
            "Actual 9am": "={{ $json.actualHoursRained.some(hour => hour.time === 9) ? 'Yes' : 'No' }}",
            "Actual 10am": "={{ $json.actualHoursRained.some(hour => hour.time === 10) ? 'Yes' : 'No' }}",
            "Actual 11am": "={{ $json.actualHoursRained.some(hour => hour.time === 11) ? 'Yes' : 'No' }}",
            "Actual 12pm": "={{ $json.actualHoursRained.some(hour => hour.time === 12) ? 'Yes' : 'No' }}",
            "Actual 1pm": "={{ $json.actualHoursRained.some(hour => hour.time === 13) ? 'Yes' : 'No' }}",
            "Actual 2pm": "={{ $json.actualHoursRained.some(hour => hour.time === 14) ? 'Yes' : 'No' }}",
            "Actual 5pm": "={{ $json.actualHoursRained.some(hour => hour.time === 17) ? 'Yes' : 'No' }}",
            "Actual 4pm": "={{ $json.actualHoursRained.some(hour => hour.time === 16) ? 'Yes' : 'No' }}",
            "Actual 6pm": "={{ $json.actualHoursRained.some(hour => hour.time === 18) ? 'Yes' : 'No' }}",
            "Actual 7pm": "={{ $json.actualHoursRained.some(hour => hour.time === 19) ? 'Yes' : 'No' }}",
            "Actual 8pm": "={{ $json.actualHoursRained.some(hour => hour.time === 20) ? 'Yes' : 'No' }}",
            "Actual 10pm": "={{ $json.actualHoursRained.some(hour => hour.time === 22) ? 'Yes' : 'No' }}",
            "Actual 11pm": "={{ $json.actualHoursRained.some(hour => hour.time === 23) ? 'Yes' : 'No' }}",
            "Actual 9pm": "={{ $json.actualHoursRained.some(hour => hour.time === 21) ? 'Yes' : 'No' }}",
            "Actual 3pm": "={{ $json.actualHoursRained.some(hour => hour.time === 15) ? 'Yes' : 'No' }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted Rain During Day",
              "displayName": "Predicted Rain During Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Rain During Day",
              "displayName": "Actual Rain During Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 8am",
              "displayName": "Predicted 8am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 8am",
              "displayName": "Actual 8am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 9am",
              "displayName": "Predicted 9am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 9am",
              "displayName": "Actual 9am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 10am",
              "displayName": "Predicted 10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 10am",
              "displayName": "Actual 10am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 11am",
              "displayName": "Predicted 11am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 11am",
              "displayName": "Actual 11am",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 12pm",
              "displayName": "Predicted 12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 12pm",
              "displayName": "Actual 12pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 1pm",
              "displayName": "Predicted 1pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 1pm",
              "displayName": "Actual 1pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 2pm",
              "displayName": "Predicted 2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 2pm",
              "displayName": "Actual 2pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 3pm",
              "displayName": "Predicted 3pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 3pm",
              "displayName": "Actual 3pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 4pm",
              "displayName": "Predicted 4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 4pm",
              "displayName": "Actual 4pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 5pm",
              "displayName": "Predicted 5pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 5pm",
              "displayName": "Actual 5pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 6pm",
              "displayName": "Predicted 6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 6pm",
              "displayName": "Actual 6pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 7pm",
              "displayName": "Predicted 7pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 7pm",
              "displayName": "Actual 7pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 8pm",
              "displayName": "Predicted 8pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 8pm",
              "displayName": "Actual 8pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 9pm",
              "displayName": "Predicted 9pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 9pm",
              "displayName": "Actual 9pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 10pm",
              "displayName": "Predicted 10pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 10pm",
              "displayName": "Actual 10pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Predicted 11pm",
              "displayName": "Predicted 11pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Actual 11pm",
              "displayName": "Actual 11pm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " ✅/ ❌",
              "displayName": " ✅/ ❌",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        928
      ],
      "id": "3f805c74-4488-4f55-a020-f74854e8a94e",
      "name": "Update w/ Actual Info from 8am - 11pm",
      "credentials": {
        "googleApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/forecast.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_WEATHERAPI_KEY"
            },
            {
              "name": "q",
              "value": "PLACEHOLDER_CITY"
            },
            {
              "name": "day",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        96
      ],
      "id": "e3876525-5eb9-41e0-acaf-13e6f8582c50",
      "name": "Rain HTTP Request"
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/forecast.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_WEATHERAPI_KEY"
            },
            {
              "name": "q",
              "value": "PLACEHOLDER_CITY"
            },
            {
              "name": "day",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        528
      ],
      "id": "80319e4c-fc68-4865-befd-2e975af57eb9",
      "name": "Rain HTTP Request1"
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/forecast.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_WEATHERAPI_KEY"
            },
            {
              "name": "q",
              "value": "PLACEHOLDER_CITY"
            },
            {
              "name": "day",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        736
      ],
      "id": "36d70774-e576-47e5-896d-aefb1ee47c55",
      "name": "Rain HTTP Request3"
    },
    {
      "parameters": {
        "amount": 9,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        672
      ],
      "id": "4a6770ae-f857-453c-b9b7-6dcfa6cf66d2",
      "name": "wait until 5pm",
      "webhookId": "ba11696d-1cd7-4ad6-9883-c1d1b181b9f0"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=F*****! it ended up raining, thats my bad.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2656,
        656
      ],
      "id": "a3e94791-1a44-4acc-8e1f-e029e94cc45f",
      "name": "Apology Message If It rains(cuz it was not supposed to rain)",
      "webhookId": "b543aa56-ca30-4619-878b-de6fcbad5fed",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11e99790-e5d6-487e-a709-ceb519de5b33",
              "leftValue": "={{ $json.precipitated }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2240,
        640
      ],
      "id": "d13fab19-fbc1-4880-be55-9140d9b303f1",
      "name": "If it rained"
    },
    {
      "parameters": {
        "jsCode": "const weatherData = $input.first().json;\nconst hours = weatherData.forecast.forecastday[0].hour;\n\nlet precipitated = false;\n\nfor (let hour of hours) {\n  const hourTime = new Date(hour.time_epoch * 1000);\n  const hourOfDay = hourTime.getHours();\n  \n  if (hourOfDay >= 8 && hourOfDay <= 17) {\n    if (hour.precip_mm > 0) {\n      precipitated = true;\n      break;\n    }\n  }\n}\n\nreturn [{ json: { precipitated: precipitated } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        816
      ],
      "id": "4c96e06b-c4a5-49ee-a6ee-c7308bde6f14",
      "name": "precip data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08cf635c-659a-4bb1-9d7a-f80ca1d29ffd",
              "leftValue": "={{ $json.rainAfterClass }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        928
      ],
      "id": "1b980451-ef6c-496e-8477-be701888fc37",
      "name": "If rain after 6pm"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Yo! {{ $json.firstName }}\nNo umbrella needed today! ☀️",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        448
      ],
      "id": "f445b099-28ac-4d7a-a1b1-a2c3c0fb0a76",
      "name": "No rain message",
      "webhookId": "2054f9c1-38a9-40c1-af6f-efeea9d74a3e",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=GOOD MORNING {{ $json.firstName.toUpperCase() }}!\nClear skies today! 🌇🌅🌄",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        576
      ],
      "id": "3c2b8c67-5507-4f12-96fc-208c0f4df43f",
      "name": "No rain message1",
      "webhookId": "2054f9c1-38a9-40c1-af6f-efeea9d74a3e",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Hey! No rain during class time today! 🌞",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2336,
        384
      ],
      "id": "d581d83c-650f-4346-ac15-4e45e33d77c9",
      "name": "No rain during class message",
      "webhookId": "fa7961cf-6a48-46c3-98b5-ba2e7a74f69d",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c54bd7d9-f345-4e91-85ca-25234e5cfd11",
              "leftValue": "={{ (DateTime.now().day % 2) === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        400
      ],
      "id": "c731cc21-4542-4f4d-b4fe-ecd768399713",
      "name": "If(different msg by day)"
    },
    {
      "parameters": {
        "jsCode": "const yesterday = new Date(Date.now() - 86400000).toLocaleDateString('en-CA', { \n  timeZone: 'America/New_York' \n});\n\n\n// College Park\nconst latitude = 0.00; // REPLACE WITH YOUR LATITUDE \nconst longitude = 0.00; // REPLACE WITH YOUR LONGITUDE\n\nreturn [{\n  json: {\n    url: `https://api.open-meteo.com/v1/forecast?latitude=${latitude}&longitude=${longitude}&hourly=precipitation&timezone=America%2FNew_York&start_date=${yesterday}&end_date=${yesterday}`,\n    yesterday: yesterday\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        736
      ],
      "id": "c6480b97-39ee-4a46-9328-17cc4f74bdd3",
      "name": "get yesterday's date"
    },
    {
      "parameters": {
        "jsCode": "const weatherData = $input.first().json;\nconst yesterday = new Date(Date.now() - 86400000).toLocaleDateString('en-CA', { \n  timeZone: 'America/New_York' \n});\n\nconst hourlyData = weatherData.hourly;\n\nlet rainedYesterday = false;\nconst hoursWithRain = [];\n\nhourlyData.time.forEach((timestamp, index) => {\n  \n  if(new Date(timestamp).getHours() >= 8 && new Date(timestamp).getHours() <= 23){\n    const precipitation = hourlyData.precipitation[index] || 0;\n    const hasPrecip = precipitation > 0;\n    \n    if (hasPrecip) {\n      rainedYesterday = true;\n      hoursWithRain.push({\n        time: new Date(timestamp).getHours(),\n        precipitation: precipitation\n      });\n    }\n  }\n});\n\nreturn [{\n  json: {\n    date: yesterday,\n    rainedYesterday: hoursWithRain.length > 0 ? true : false,\n    actualHoursRained: hoursWithRain\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        848
      ],
      "id": "27929042-f8cd-4965-afed-317a027dfb18",
      "name": "processRainData"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "email@example.com"
            },
            {
              "name": "Accept",
              "value": "application/geo+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        960
      ],
      "id": "ff4768b8-3ff2-46d8-a46e-5a7bb35134f9",
      "name": "OpenMeteo Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b64d400-c366-4319-b6ec-5fd340aa3dc7",
              "leftValue": "={{ $json.schoolRainyHours.filter(hour => hour.rainPercent >= 80).length > 0 }}",
              "rightValue": 80,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2128,
        96
      ],
      "id": "601fb62f-8e7f-48a8-a04d-0fb3f518b071",
      "name": "if>=80%"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Good Morning {{ $json.firstName }}!\nLikely rain, bring umbrella! ☔",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        224
      ],
      "id": "d0e653ad-f696-4373-a6bc-8a913163c8ea",
      "name": ">=60% rain message",
      "webhookId": "2054f9c1-38a9-40c1-af6f-efeea9d74a3e",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Good Morning {{ $json.firstName }}! 🌧️🌧️🌧️\nBring Umbrella Today! ☔️☔️",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        16
      ],
      "id": "47ddb2f1-084f-4540-bc9f-3b22fe647ac9",
      "name": ">=80% rain message",
      "webhookId": "2054f9c1-38a9-40c1-af6f-efeea9d74a3e",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        720
      ],
      "id": "78607fa5-254c-4e41-94d7-66ac3c061713",
      "name": "6am logging prev day"
    },
    {
      "parameters": {
        "amount": 6.5,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2864,
        784
      ],
      "id": "1fd06b28-b161-469e-b806-a212cf197469",
      "name": "Wait",
      "webhookId": "a48fb885-716c-43df-a47a-506acf78239d"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=I want to take this moment to apologize for my incorrect prediction today.\nHave a good night! 🎑🌃🌉🌌🌠",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3056,
        848
      ],
      "id": "4a19f7e7-e7e1-4b3f-b46f-518430260894",
      "name": "Good Night Apology message(for incorrect prediction",
      "webhookId": "aaf17368-e4c6-4eb1-92ee-26bc40ab206a",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const users = [\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_1\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\"\n  },\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_2\",\n    \"first_name\": \"Jane\",\n    \"last_name\": \"Smith\"\n  }\n  ];\n\nconst snowHours = $input.first().json;\n\nreturn users.map(user => ({\n  json: {\n    chatId: user.id,\n    firstName: user.first_name,\n    ...snowHours\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -512
      ],
      "id": "7c160a2a-8cf4-49fa-a19a-ef4281cc261e",
      "name": "UserData3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d21453b-a476-4622-b6ff-4ac5c3a4071a",
              "leftValue": "={{ $json.snowData.length > 0}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        -208
      ],
      "id": "7dae5a42-84c6-4234-8756-b61125e96771",
      "name": "If snowHours len > 0"
    },
    {
      "parameters": {
        "content": "## maybe need to change \"clear skies\" logic later"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        528
      ],
      "typeVersion": 1,
      "id": "f289f105-99cc-44dd-9363-e7d8b8225162",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=TEMP: 🥶🌡️ BRING A JACKET\n{{ $json.tempHours.join(', ') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        -256
      ],
      "id": "4a28f25f-ff31-47dd-9174-f2ecaab76350",
      "name": "TEMP REPORT",
      "webhookId": "b1027ad7-fd9b-4e4d-a2b7-4c5239a81279",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=☃️ SNOW REPORT! ❄️\n{{ $json.snowHours.join(', ') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        -432
      ],
      "id": "92589500-1e60-4510-acfe-fcd1c586e9ae",
      "name": "SNOW REPORT",
      "webhookId": "83d66d4a-b3dd-434f-b39f-74bd370b82b2",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const users = [\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_1\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\"\n  },\n  {\n    \"id\": \"PLACEHOLDER_CHAT_ID_2\",\n    \"first_name\": \"Jane\",\n    \"last_name\": \"Smith\"\n  }\n  ];\n\nconst snowHours = $input.first().json;\n\nreturn users.map(user => ({\n  json: {\n    chatId: user.id,\n    firstName: user.first_name,\n    ...snowHours\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -176
      ],
      "id": "1d0b6744-42eb-411c-a696-3b78e00f97ea",
      "name": "UserData4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d847fe93-f4e2-483f-bf60-d3ae9e6a1376",
              "leftValue": "={{ $json.tempHours.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        -176
      ],
      "id": "96435db2-254d-459e-8b6b-1bed6d2b0177",
      "name": "tempHours > 0"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst snowData = data.snowData;\n\nfunction combineConsecutiveHours(data){\n  const combinedHours = [];\n  if(data.length < 1){\n    return [];\n  }\n  let range = {\n    start: data[0].hourOfDay,\n    end: data[0].hourOfDay\n  }\n  for(let i = 1; i < data.length; i++){\n    // console.log(range);\n    if(range.end + 1 === data[i].hourOfDay){\n      range.end = data[i].hourOfDay;\n    }else{\n      combinedHours.push(range);\n      range = {\n        start: data[i].hourOfDay,\n        end: data[i].hourOfDay\n      };\n    }\n  }\n  combinedHours.push(range);\n  // console.log(combinedHours);\n  combinedHours.forEach((range, i)=> {\n    const start = range.start;\n    const end = range.end+1;\n    let strStart = '';\n    let strEnd = '';\n    //handling 0, but i realistically don't need since i start from 6am\n    if(start == 0) strStart = `12`;//dont need\n    else if (start === 12){\n      if(end == 24){\n        strStart = `12PM`\n      }else{\n        strStart = `12`\n      }\n    }\n    else if(start == 11) strStart = '11AM';\n    else if(start == 23) strStart = '11PM';\n    else if(start > 12){\n      if(end == 24){\n        strStart = `${start%12}PM`\n      }else{\n        strStart = `${start%12}`\n      }\n    }\n    else{\n      if(end >= 12){\n        strStart = `${start}AM`;\n      }else{\n        strStart = `${start}`;\n      }\n    }\n    if(end == 0 || end == 24) strEnd = `12AM`;\n    else if (end === 12) strEnd = '12PM';\n    else if(end > 12) strEnd = `${end%12}PM`;\n    else{\n      strEnd = `${end}AM`\n    }\n    combinedHours[i] = strStart + \"-\" + strEnd;\n  })\n  return combinedHours;\n}\nconst snowHours = combineConsecutiveHours(snowData);\nreturn [\n  {\n    json: {\n      snowHours: snowHours\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -432
      ],
      "id": "cd3bf8c7-579b-4e17-ac80-6473493adfd5",
      "name": "format Snow Data"
    },
    {
      "parameters": {
        "jsCode": "const data = $(\"Rain HTTP Request\").first().json;\nconst allHours = data.forecast.forecastday[0].hour;\n//all snow hours starting from 6am\nconst snowData = allHours.filter(hour => new Date(hour.time).getHours() > 7 && hour.chance_of_snow >= 60);\n//all temp hours starting from 6am\nconst tempData = allHours.filter(hour => new Date(hour.time).getHours() > 7);\n//clean date to AM/PM\nconst cleanSnowData = snowData.map(item => ({\n    hourOfDay: new Date(item.time).getHours(),\n    chance_of_snow: item.chance_of_snow,\n  }));\n//clean date to AM/PM\nconst cleanTempData = tempData.map(hour => ({\n  hourOfDay: new Date(hour.time).getHours(),\n  feelslike_c: hour.feelslike_c\n}));\n\nreturn [\n  {\n    json:{\n      snowData: cleanSnowData,\n      tempData: cleanTempData\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -160
      ],
      "id": "b8d0673e-486b-4e06-bddd-efc22b61f722",
      "name": "STARTING FROM 8AM - gives Temp Data + PROCESSED Snow Data"
    },
    {
      "parameters": {
        "jsCode": "const data = $('STARTING FROM 8AM - gives Temp Data + PROCESSED Snow Data').first().json;\n\nconst tempData = data.tempData.filter(elem => elem.feelslike_c <= 5);\n\nfunction combineConsecutiveHours(data) {\n  const combinedHours = [];\n  if (data.length < 1) {\n    return [];\n  }\n\n  let range = {\n    start: data[0].hourOfDay,\n    end: data[0].hourOfDay\n  };\n\n  for (let i = 1; i < data.length; i++) {\n    if (range.end + 1 === data[i].hourOfDay) {\n      range.end = data[i].hourOfDay;\n    } else {\n      combinedHours.push(range);\n      range = {\n        start: data[i].hourOfDay,\n        end: data[i].hourOfDay\n      };\n    }\n  }\n  combinedHours.push(range);\n\n  const formatTime = (h) => {\n    if (h === 24) return \"12AM\"; \n    const ampm = h >= 12 ? 'PM' : 'AM';\n    const hour12 = h % 12 || 12;\n    return `${hour12}${ampm}`;\n  };\n\n  return combinedHours.map(r => {\n    if (r.start === r.end) {\n      return formatTime(r.start);\n    } \n    else {\n      return `${formatTime(r.start)}-${formatTime(r.end)}`;\n    }\n  });\n}\n\nconst tempHours = combineConsecutiveHours(tempData);\n\nreturn [{\n  json: {\n    tempHours: tempHours,\n    tempData: tempData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -128
      ],
      "id": "051ff406-42cc-43d6-a817-b92d982d1a6f",
      "name": "process + format Temp data"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        -48
      ],
      "id": "c0ecf12b-10f0-472b-b452-46be9a36a7ba",
      "name": "wait 2 seconds",
      "webhookId": "f07b6a4d-1cb0-4640-95a5-d65647e64bce"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        464
      ],
      "id": "5459663c-7c0e-4595-874e-7a111b8a774f",
      "name": "5pm(second alert)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        288
      ],
      "id": "1a7b74ca-6560-41d7-802e-190902478930",
      "name": "8am(first alert)"
    },
    {
      "parameters": {
        "jsCode": "const weatherData = $input.first().json;\nconst hours = weatherData.forecast.forecastday[0].hour;\n\n//NOTE: DID NOT INCLUDE LOGIC OF PROCESS TEMP/SNOW DATA SINCE DOES NOT NEED TO HANDLE CASE WHERE CONSECUTIVE HOUR CAN BE SOMETHING LIKE 6AM-3PM INSTEAD OF 6-3PM\nfunction combineConsecutiveHours(hours) {\n  if (hours.length === 0) return [];\n  \n  const combined = [];\n  let currentRange = { \n    start: hours[0].hour, \n    end: hours[0].hour\n  };\n  \n  for (let i = 1; i < hours.length; i++) {\n    if (hours[i].hour === currentRange.end + 1) {\n      currentRange.end = hours[i].hour;\n    } else {\n      combined.push(currentRange);\n      currentRange = { \n        start: hours[i].hour, \n        end: hours[i].hour\n      };\n    }\n  }\n  combined.push(currentRange);\n  \n  return combined.map(range => {\n    const formatHourStart = (hour) => {\n      if (hour === 0 || hour === 24) return '12';\n      if (hour === 11) return '11AM';\n      if (hour === 23) return '11PM';\n      if (hour === 12) return '12';\n      if (hour > 12 && range.end+1 == 24) return `${hour-12}PM`;\n      return hour > 12 ? `${hour - 12}` : `${hour}`;\n    };\n    const formatHourEnd = (hour) => {\n      if (hour === 0 || hour === 24) return '12AM';\n      if (hour === 12) return '12PM';\n      return hour > 12 ? `${hour - 12}PM` : `${hour}AM`;\n    };\n    \n    // Each range represents hours FROM start TO end+1\n    // So 6PM becomes \"6-7PM\", 6-8PM becomes \"6-9PM\"\n    const startFormatted = formatHourStart(range.start);\n    const endFormatted = formatHourEnd(range.end + 1);\n    \n    return `${startFormatted}-${endFormatted}`;\n  });\n}\n\nlet RainyHoursPast5 = [];\nlet tempHoursPast5 = [];\nhours.forEach(hour => {\n  const hourTime = new Date(hour.time);\n  const hourOfDay = hourTime.getHours();\n  const rainChance = hour.chance_of_rain;\n  const feelslike_c = hour.feelslike_c;\n  //only get hours from 5pm-11pm\n  if (hourOfDay >= 17 && hourOfDay <= 23) {\n    if(feelslike_c <= 5){\n        const hourData = {\n        time: hourTime.toLocaleTimeString('en-US', { \n          hour: 'numeric', \n          hour12: true,\n          minute: undefined\n        }),\n        hour: hourOfDay,\n        temperature: feelslike_c\n      };\n      tempHoursPast5.push(hourData);\n    }\n    if (rainChance >= 60) {\n      const hourData = {\n        time: hourTime.toLocaleTimeString('en-US', { \n          hour: 'numeric', \n          hour12: true,\n          minute: undefined\n        }),\n        hour: hourOfDay,\n        rainPercent: rainChance\n      };\n      RainyHoursPast5.push(hourData);\n    }\n  }\n});\n//past 5\nreturn [{\n  json: {\n    combinedRainyHoursPast5: combineConsecutiveHours(RainyHoursPast5),\n    rainAfterClass: RainyHoursPast5.length > 0,\n    combinedTempHoursPast5: combineConsecutiveHours(tempHoursPast5)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        608
      ],
      "id": "fe00a2b0-3bd9-43cd-9cc5-e10558f8bceb",
      "name": "rainANDtempDataWithHourCombination"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95bf4c47-88a1-4feb-bf94-360852c4e106",
              "leftValue": "={{ $json.combinedTempHoursPast5.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1296,
        784
      ],
      "id": "3f0aff80-c86c-4de7-ade6-c764342c696e",
      "name": "tempHoursPast5 > 0"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=TEMP: 🥶🌡️ BRING A JACKET\n{{ $json.combinedTempHoursPast5.join(', ') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        816
      ],
      "id": "497494d2-a91c-468d-b471-d44c29865dde",
      "name": "TEMP REPORT1",
      "webhookId": "b1027ad7-fd9b-4e4d-a2b7-4c5239a81279",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        960
      ],
      "id": "4a216d6c-6a2f-4800-931a-e9c014740dea",
      "name": "wait 2 seconds2",
      "webhookId": "60fe4632-cd4f-466e-a4d2-e5bdebd4ad28"
    },
    {
      "parameters": {
        "content": "## (in summer) will change temp report to check for days that are extra hot to not wear a sweater.     \n## TEMP: ☀️🌡️\n",
        "height": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        -288
      ],
      "typeVersion": 1,
      "id": "d5d53b03-9854-415f-8442-45191f9c1628",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        32,
        256
      ],
      "id": "07546aa8-da53-4cdf-8b0e-425394375458",
      "name": "wait 1.5 seconds1",
      "webhookId": "7c3cad29-7435-488b-8da4-83c6cfade0d7"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Hey {{ $json.firstName }}! 👋\nIf ur planning on going out after 5,\nWatch out for rain {{ $json.combinedRainyHoursPast5.join(', ') }}!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        1040
      ],
      "id": "772cf71a-cede-4835-b760-e380a1ce62d6",
      "name": "Send reminder (for times that will rain past 5)",
      "webhookId": "59e28dac-107e-4dfc-bd17-edc8d958234e",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "WeatherBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "rainData": {
      "main": [
        [
          {
            "node": "UserData",
            "type": "main",
            "index": 0
          },
          {
            "node": "Predicted: 8am-5pm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserData": {
      "main": [
        [
          {
            "node": "hasRain",
            "type": "main",
            "index": 0
          },
          {
            "node": "wait until 5pm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserData1": {
      "main": [
        [
          {
            "node": "tempHoursPast5 > 0",
            "type": "main",
            "index": 0
          },
          {
            "node": "wait 2 seconds2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rainDuringClass": {
      "main": [
        [
          {
            "node": "if>=80%",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No rain during class message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasRain": {
      "main": [
        [
          {
            "node": "rainDuringClass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If(different msg by day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserData2": {
      "main": [
        [
          {
            "node": "Apology Message If It rains(cuz it was not supposed to rain)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rain HTTP Request": {
      "main": [
        [
          {
            "node": "wait 1.5 seconds1",
            "type": "main",
            "index": 0
          },
          {
            "node": "STARTING FROM 8AM - gives Temp Data + PROCESSED Snow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rain HTTP Request1": {
      "main": [
        [
          {
            "node": "rainANDtempDataWithHourCombination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rain HTTP Request3": {
      "main": [
        [
          {
            "node": "precip data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait until 5pm": {
      "main": [
        [
          {
            "node": "Rain HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apology Message If It rains(cuz it was not supposed to rain)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it rained": {
      "main": [
        [
          {
            "node": "UserData2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "precip data": {
      "main": [
        [
          {
            "node": "If it rained",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If rain after 6pm": {
      "main": [
        [
          {
            "node": "Send reminder (for times that will rain past 5)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send reminder (for times that will rain past 5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If(different msg by day)": {
      "main": [
        [
          {
            "node": "No rain message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No rain message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get yesterday's date": {
      "main": [
        [
          {
            "node": "OpenMeteo Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "processRainData": {
      "main": [
        [
          {
            "node": "Update w/ Actual Info from 8am - 11pm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenMeteo Request": {
      "main": [
        [
          {
            "node": "processRainData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if>=80%": {
      "main": [
        [
          {
            "node": ">=80% rain message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": ">=60% rain message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6am logging prev day": {
      "main": [
        [
          {
            "node": "get yesterday's date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Good Night Apology message(for incorrect prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserData3": {
      "main": [
        [
          {
            "node": "SNOW REPORT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If snowHours len > 0": {
      "main": [
        [
          {
            "node": "format Snow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SNOW REPORT": {
      "main": [
        []
      ]
    },
    "UserData4": {
      "main": [
        [
          {
            "node": "tempHours > 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tempHours > 0": {
      "main": [
        [
          {
            "node": "TEMP REPORT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format Snow Data": {
      "main": [
        [
          {
            "node": "UserData3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STARTING FROM 8AM - gives Temp Data + PROCESSED Snow Data": {
      "main": [
        [
          {
            "node": "If snowHours len > 0",
            "type": "main",
            "index": 0
          },
          {
            "node": "wait 2 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process + format Temp data": {
      "main": [
        [
          {
            "node": "UserData4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No rain message1": {
      "main": [
        []
      ]
    },
    "wait 2 seconds": {
      "main": [
        [
          {
            "node": "process + format Temp data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5pm(second alert)": {
      "main": [
        [
          {
            "node": "Rain HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8am(first alert)": {
      "main": [
        [
          {
            "node": "Rain HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rainANDtempDataWithHourCombination": {
      "main": [
        [
          {
            "node": "Predicted: 6pm-11pm",
            "type": "main",
            "index": 0
          },
          {
            "node": "UserData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tempHoursPast5 > 0": {
      "main": [
        [
          {
            "node": "TEMP REPORT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait 2 seconds2": {
      "main": [
        [
          {
            "node": "If rain after 6pm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait 1.5 seconds1": {
      "main": [
        [
          {
            "node": "rainData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send reminder (for times that will rain past 5)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5eb5f8c8-efbb-4583-b066-230199dba535",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10fbe62a32a89ad4c430a7e1ed254baf8f0722fa0c802870734e758e8480ba78"
  },
  "id": "UJba0PF36Y7OZOte",
  "tags": []
}
